# 날짜 데이터

In [1]:
from datetime import datetime

now = datetime.now()
print (now)

2020-07-29 11:24:46.195197

In [6]:
now = datetime.now()
print (str(now.year))
print (str(now.month))
print (str(now.day))

2020
7
29

In [2]:
# 04 날짜 정보 다듬기

now = datetime.now()
print (str(now.month) + "/" + str(now.day) + "/" + str(now.year))

7/29/2020

In [3]:
#5 시간 정보 다듬기

now = datetime.now()
print (str(now.hour) + "/" + str(now.minute) + "/" + str(now.second))

11/30/50

In [66]:
import pandas as pd

df_hdays = pd.read_excel('./data/data.xls')
df_hdays

       일자 및 요일    요일구분          비고
0   2020-01-01  수요일             신정
1   2020-01-24  금요일             설날
2   2020-01-27  월요일       설날(대체휴일)
3   2020-04-15  수요일     21대 국회의원선거
4   2020-04-30  목요일          석가탄신일
5   2020-05-01  금요일          근로자의날
6   2020-05-05  화요일           어린이날
7   2020-09-30  수요일             추석
8   2020-10-01  목요일             추석
9   2020-10-02  금요일             추석
10  2020-10-09  금요일            한글날
11  2020-12-25  금요일            성탄절
12  2020-12-31  목요일          연말휴장일

In [67]:
hdays = df_hdays['일자 및 요일'].str.extract('(\d{4}-\d{2}-\d{2})' ,expand=False)
hdays = pd.to_datetime(hdays)
hdays.name = '날짜'
hdays

0    2020-01-01
1    2020-01-24
2    2020-01-27
3    2020-04-15
4    2020-04-30
5    2020-05-01
6    2020-05-05
7    2020-09-30
8    2020-10-01
9    2020-10-02
10   2020-10-09
11   2020-12-25
12   2020-12-31
Name: 날짜, dtype: datetime64[ns]

In [68]:
mdays = pd.date_range('2020-01-01','2020-12-31')
mdays

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

In [69]:
mdays = pd.date_range('2020-01-01','2020-12-31', freq='B')
mdays

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-25', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=262, freq='B')

In [70]:
mdays = mdays.drop(hdays)
mdays

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', length=249, freq=None)

In [71]:
data = {'values': range(1,32)}
df_sample = pd.DataFrame(data,index=pd.date_range('2020-05-01', '2020-05-31'))
df_sample.head(10)

            values
2020-05-01       1
2020-05-02       2
2020-05-03       3
2020-05-04       4
2020-05-05       5
2020-05-06       6
2020-05-07       7
2020-05-08       8
2020-05-09       9
2020-05-10      10

In [72]:
df_mdays = pd.DataFrame(index=mdays)

df = pd.merge(df_sample, df_mdays, right_index=True, left_index=True)
df.head(10)

            values
2020-05-04       4
2020-05-06       6
2020-05-07       7
2020-05-08       8
2020-05-11      11
2020-05-12      12
2020-05-13      13
2020-05-14      14
2020-05-15      15
2020-05-18      18

In [73]:
pd.read_excel('https://goo.gl/cvnhy2')

            구분          일자 요일   시장             비고
0           휴장  2017/01/02  월  CME  New Year' Day
1           휴장  2017/04/14  금  CME    Good Friday
2  단축종료(03:15)  2017/11/24  금  CME      추수감사절 다음날
3           휴장  2017/12/25  월  CME  Christmas Day

In [74]:
pd.read_excel('https://goo.gl/s2PgBx')

   구분          일자 요일     시장             비고
0  휴장  2017/04/14  금  EUREX    Good Friday
1  휴장  2017/04/17  월  EUREX  Easter Monday
2  휴장  2017/05/01  월  EUREX     Labour Day
3  휴장  2017/12/25  월  EUREX  Christmas Day
4  휴장  2017/12/26  화  EUREX     Boxing Day